.selectGroup{
    
    select {
        width: 100%;
        border: 1px solid silver;
        padding: 1em .8em;
        border-radius: 10px;
        font-family: 'Montserrat';
        margin: .5em 0 0 0;
    }
}