.container{
    background-color: white;
    border-radius: 5px;
    padding: 1em;
    h3 {
        margin: 0;
    }
    .imgUpload{
        
        min-height: 20em;
        border-radius: 5px;
        border: 1px dashed black;
        cursor: pointer;
        background-size: cover;
        background-position: center;
    }
    .formGroup2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        padding: 1em 0;
    }
    .formGroup {
        padding: 1em 0;
        
    }
}
.eventDetail{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 1em 0;
    gap: 1em;
    .img{
        height: 10em;
        width: 100%;
        background-size: cover;
        border-radius: 5px;
    }
    .info {
     
        .detail{
            font-size: 12px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}
.tool{
    display: flex;
    justify-content: flex-end;
    .add {
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }
    }
}
.back{
    width: max-content;
    cursor: pointer;
}