

body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  background-color: #474747;
  min-height: 100vh;
  padding: 6em 2em 2em 2em;
}

.divider{
  display: flex;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: 1em 0 0 0;
  color: #F4CE14;
}

.line {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #ccc;  /* Đường kẻ */
  margin: 0 10px;  /* Khoảng cách giữa chữ "or" và đường kẻ */
}
.d-flex {
  display: flex;
}
.x-center {
  justify-content: center;
}
.y-center {
  align-items: center;
}
.gap-1 {
  gap:1em;
}
.gap-2 {
  gap:2em;
}
.gap-3 {
  gap:3em;
}

.table{
  width: 100%;
  border-spacing: 0;
  border-collapse:collapse;
  font-size: 12px;
  
  
}
.table thead {
  color:  #F5F5F5;

}
.table thead tr {
  background-color: #49cfcb;

} 
.table tbody tr {
  background-color: #F5F5F5;
  cursor: pointer;

}
.table tbody tr:hover {
  background-color: #a7e5e3;
}
.table tbody tr td {
  text-align: center;
}
.table td,
.table th {
  padding: 1em;
}

.formGroup2{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 1em 0;
  gap: 1em;
}